@keyframes spring {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  font-size: 5em;
  height: 100vh;
  justify-content: center;
}

.container label {
  cursor: pointer;
}

.container .checked,
.container .unchecked {
  animation: spring 300ms;
}

.container .checked {
  color: #e74c3c;
}

.container input {
  display: none;
}

.container input ~ .checked {
  display: none;
}

.container input:checked ~ .checked {
  display: block;
}

.container input:checked ~ .unchecked {
  display: none;
}

.container input:checked ~ .checked {
  display: block;
}
